@model List<WebDash.Models.HistogramEntry>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kafka Dash</h1>
    <p class="lead">Dashing Me Some Spark Results.</p>
</div>

<div class="row">
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in @Model)
            {
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>